agent-orchestrator/target/*.*
target/resume.properties
target/project-local-repo/com.enterprise.agentic/common-lib/1.0.0/common-lib-1.0.0-consumer.pom
target/project-local-repo/com.enterprise.agentic/common-lib/1.0.0/common-lib-1.0.0.jar
target/project-local-repo/com.enterprise.agentic/common-lib/1.0.0/common-lib-1.0.0.pom 
api-gateway/target/*.*
agent-orchestrator/target/*.*
llm-service/target/*.*
rag-service/target/*.*
tools-service/target/*.*
